.checkout-container {
  display: flex;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 1rem;

  .checkout {
    width: 70%;
    form {
      display: flex;
      justify-content: center;

      div:first-child,
      div:nth-child(2) {
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
      }

      div:nth-child(2) div {
        display: flex;
      }
    }
  }
}

#input-card-number {
  width: 23rem;
}
