.menu {
  position: static;
}
.menu .navbar {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.menu .hamburger {
  width: 39px;
  height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px;
  border-radius: 6px;
}
.menu .hamburger .segment {
  width: 100%;
  background: black;
  height: 5px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  border: 1px solid black;
}
.menu .menu-icon {
  cursor: pointer;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}
.menu .menu-btn:checked ~ .navbar {
  max-height: 230px;
  padding-bottom: 10px;
}
.menu .menu-btn:checked ~ .menu-icon .hamburger {
  justify-content: center;
}
.menu .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(1) {
  transform: translate(0, 5px) rotate(-45deg);
  transition: transform 400ms ease-in-out;
}
.menu .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(2) {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.menu .menu-btn:checked ~ .menu-icon .hamburger .segment:nth-child(3) {
  transform: translate(0, -5px) rotate(45deg);
  transition: transform 400ms ease-in-out;
}
.menu .menu-btn {
  display: none;
}
.menu ul {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  margin: 0;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(235, 235, 235);
  padding-top: 10px;
}

@media screen and (min-width: 769px) {
  .menu ul {
    padding-top: 0;
    background-color: none;
  }
}

.menu ul li {
  text-align: center;
}
.menu ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

@media screen and (min-width: 769px) {
  .menu {
    height: 60px;
  }
  .menu .navbar {
    clear: none;
    max-height: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .menu ul a {
    font-size: 1.3em;
  }
  .menu ul a:hover {
    text-decoration: underline;
  }
  .menu .menu-icon {
    display: none;
  }
  .menu li a {
    padding: 18px 30px;
  }
}
