// EXPERINCES STYLING
.culture,
.gastronomy,
.wellness,
.adventure {
  padding: 1rem;
  background-color: rgb(206, 206, 206);
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    padding-top: 1rem;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 3px 3px rgb(141, 141, 141);
    height: 350px;

    button {
      width: 100%;
      margin-top: auto;
      padding: 1rem;
      border: 0;
      background-color: rgb(206, 206, 206);
      color: rgb(50, 50, 50);
      box-shadow: 3px 3px rgb(141, 141, 141);
    }
  }
}

// DESKTOP VERSION OF EXPERIENCES
@media screen and (min-width: 769px) {
  .culture,
  .gastronomy,
  .wellness,
  .adventure {
    div {
      display: flex;
      flex-direction: row;
      button:hover {
        background-color: rgb(168, 168, 168);
      }

      button:focus {
        outline: 0;
      }
    }
  }
}
