//SHOPPINGCART STYLING STARTS HERE
.shoppingcart-items-container,.shoppingcart-total, .payment-details{
    background-color: #323232;
    color: white;
    padding: 0.5rem;
  }
  .shoppingcart-container, .payment-container{
    .shoppingcart-total{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .checkout-container{
            display: flex;
            justify-content: space-between;
            width: 170px;
        }
        button{
            padding: 0.5rem;
        }
    }
  }
  
  // DESKTOP VERSION OF EXPERIENCES
  @media screen and (min-width: 769px) {
    .shoppingcart-container, .payment-container{
        display: flex;
        .shoppingcart-items-container, .payment-details{
            width: 70%;
        }
        .shoppingcart-total{
            width: 30%;
            .checkout-container{
                display: flex;
                justify-content: space-between;
                min-width: 30%;
            }
        }
    }
  }
