*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.thankspage-container h1,.thankspage-container p,.thankspage-container a{
    text-align: unset;
    margin-bottom: 1rem;
}
.thankspage-container{
    height: auto;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    a{
        text-decoration: none;
        color: black;
        button{
            border: none;
            border-radius: 5px;
            padding: 0.7rem;
            cursor: pointer;
            background-color: #e7e7e7;
        }
    }
}

// DESKTOP VERSION OF EXPERIENCES
@media screen and (min-width: 769px) {
    .thankspage-container h1,.thankspage-container p,.thankspage-container a{
        color: white; // ingen definitiv färg.
    }
    .thankspage-container{
        background-color: #323232;
        p{
            width: 50rem;
        }
        a{
            button{
                padding: 1rem;
            }
        }
    }
  }